*{
    font-family: "Nunito Sans";
}

.banner{
    display: block;
    height: 100px;
    text-align: center;
    background-color: lightblue;
}

h1{
    padding: 25px;
}

nav{
    text-align: center;
}

.nav li{
    display: inline;
    padding: 0 200px;
    font-size: 25px;
}